<h1>Best Practice</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Firstname</td>
      <td>Age</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players$ | async">
      <td>{{ player.firstname }}</td>
      <td>{{ player.lastname }}</td>
      <td>{{ player.dateOfBirth }}</td>
    </tr>
  </tbody>
</table>
<h1>Bad Practice</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Firstname</td>
      <td>Age</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.firstname }}</td>
      <td>{{ player.lastname }}</td>
      <td>{{ player.dateOfBirth }}</td>
    </tr>
  </tbody>
</table>
